@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap');

:root {
  --animation-delay: 75ms;
}

body {
  font-family: 'Major Mono Display', monospace;
  padding: 20px;
  line-height: 1.6;
  background:#0a0c10;
  color:#ffffff;
}
a{
  color: #408fbb;
}

span {
  opacity: 0;
  animation-name: typewriter;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-delay: calc(var(--animation-order) * var(--animation-delay));
  
}

@keyframes typewriter {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

